<div id='console'>
   <div style='padding-left: 20px;'>
      <div class='console-item'>
         GPS Lat:
         <div id='lat'>&nbsp;</div>
         Distance:
         <div id='distance'>&nbsp;</div>
      </div>
      
      <div class='console-item'>
         GPS Lon:
         <div id='lon'>&nbsp;</div>
         Bearing:
         <div id='bearing'>&nbsp;</div>
      </div>
      
      <div class='console-item'>
         Area:
         <div id='area'>&nbsp;</div>
         Perimeter
         <div id='perimeter'>&nbsp;</div>
      </div>
      
      <div class='console-item'>
         Length
         <div id='length'>&nbsp;</div>
      </div>
      <div class='console-item'>
         Elevation
         <div id='elevation'>&nbsp;</div>
      </div>
   </div>
</div>