<div style='padding: 0px; margins: 0px;'>
  <div id='drawingtools' style='height: 23px;' class='ui-widget-header'>
     <a style='position: relative; float: left;' class='toggle' href='#'>Object List</a>
     <div id='clear_all_markup'>
        <div style='padding: 3px 0px 0px 5px; position: relative; float: left;'><img id='clear_all' src='{{ media_url }}images/remove-16x16.png'/></div>
	    <div style='padding: 2px 0px 2px 3px; position: relative; float: left; color: #000000;'>All</div>
	 </div>

	  <table id='markup_table' class='tablesorter'>
      <thead>
         <tr><th>ID</th><th>Type</th><th>Description</th><th>&nbsp;</th></tr>
      </thead>
      <tbody>
      </tbody>
   </table>
  </div>

</div>
